body {
  background-color: #D7BDE2; }

.sinformato {
  text-decoration: none;
  font-style: italic;
  color: black; }

a:hover {
  color: darkorchid;
  font-weight: bold; }

.texto {
  font-style: normal;
  font-weight: lighter;
  font-size: 15px;
  color: black; }

.texto--th4 {
  font-style: italic;
  font-weight: bold;
  color: darkmagenta; }

h1 {
  font-style: italic; }

h3 {
  font-style: italic; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: hotpink; }

form {
  gap: 100px; }

.galeria {
  width: 600px;
  height: 400px; }

.magenta {
  color: magenta; }

.ivory {
  color: ivory; }

.pink {
  color: pink; }

.yellow {
  color: yellow; }
